<div class="dashboard-container">
<app-nav></app-nav>
  <main class="main-content">
    <header class="header">
      <div class="header-left">
        <input type="text" placeholder="Search...">
      </div>
      <div class="header-right">
        <div class="user-info">
          <span class="user-name">Backoffice</span>
          <span class="user-role">Admin</span>
        </div>
      </div>
    </header>
    <section class="main-content">
      <router-outlet></router-outlet>
    </section>
  </main>

</div>
