<div class="container">
  <h2>Liste des Clients</h2>
  <table class="client-table">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Téléphone</th>
      <th>Email</th>
      <th>CIN</th>
      <th>Adresse</th>
      <th>Solde Initial</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients" key>
      <td>{{ client.fname }}</td>
      <td>{{ client.lname }}</td>
      <td>{{ client.tel }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.cin }}</td>
      <td>{{ client.address }}</td>
      <td>{{ client.initialBalance }}</td>
    </tr>
    </tbody>
  </table>
</div>

